@page "{id:int?}"
@model Szilveszter_Levente_Artwork.Pages.Venues.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue[0].VenueName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VenueData.Venues) 
{
        string selectedRow = "";
        if (item.ID == Model.VenueID)
        {
            selectedRow = "table-success";
        }    
        <tr class ="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>

            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.VenueData.Artworks != null)
{
    <h3>Artworks Edited by Selected Venue</h3>
    <table class="table">

        @foreach (var item in Model.VenueData.Venues)
        {
            string selectedRow = "";
            if (item.ID == Model.VenueID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var a in item.Artworks)
                        {

                            @a.Title @: @a.Artist.FullName

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
